body {
    font-family: 'Roboto', sans-serif;
}

.main-ui {
    text-align: center;
}

.problem {
    font-size: 5rem;
}

.boxes {
    display: flex;
    width: 100%;

}

.progress {
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #7ecc00;
    opacity: .55;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}

.box {
    height: 40px;
    border-right: 1px solid #c7c7c7;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .70);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .main-ui {
    filter: blur(4px);
}

@keyframes showError {
    50% {
        color: red;
        transform: scale(1.2);
    }
    100% {
        color: #333;
        transform: scale(1);
    }
}

.animate-wrong {
    animation: .55s showError;
}

.problem {
    text-align: center;
}









